* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montagu Slab", serif;
    background: white;
}


.main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.container {
    background: #6f6fa8;
    border: 8px solid #5cc2a1;
    border-radius: 15px;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.guest {
    text-align: center;
}

.count {
    background: #8a2be2;
    padding: 20px;
    border: 4px solid gold;
    border-radius: 10px;
    width: 150px;
}

.count h1 {
    font-size: 50px;
    margin-top: 10px;
}

/* BUTTONS */
.button {
    margin-top: 15px;
}

.indside {
    background: #2ecc71;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.neg {
    background: #e67e22;
    padding: 6px 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.hello-box {
    display: flex;
    align-items: center;
}

.btn {
    background: yellow;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}


.info {
    margin-top: 15px;
    text-align: center;
}

.info a {
    text-decoration: none;
    font-weight: bold;
    color: purple;
}
